:root {
  /* --grey : hsl(90, 1%, 59%);  */
  --grey: hsl(135, 19%, 88%);
  --dark-green: hsl(177, 20%, 61%);
  --lighter-dark-green: #bec9c8;
  --light-green: hsl(167, 40%, 82%);
  --apricot: hsl(24, 100%, 86%);
  --primary-font: "Nunito", sans-serif;
}

body {
  font-family: var(--primary-font);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space between;
  align-items: center;
  width: 100%;
}

.body__title {
  text-align: center;
}

.input {
  width: 100%;
}
.input__task {
  width: 50%;
  border: none;
  box-shadow: 0 2px 5px rgba(41, 37, 37, 0.74);
  font-size: 1.2rem;
  padding: 10px 15px;
  margin-bottom: 30px;
  border-radius: 0.6rem;
  background-color: var(--light-green);
}
.submit__task {
  border: none;
  box-shadow: 0 2px 5px rgba(41, 37, 37, 0.74);
  font-size: 1.2rem;
  padding: 10px 15px;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--light-green);
}

/* ------ Progress bar ---------- */
progress {
  width: 100%;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.44) inset;
}
progress[value]::-webkit-progress-value {
  background-color: var(--dark-green);
  border-radius: 2px;
}

/* -------------- */

.todo__cards--nav {
  flex-direction: column;
}

.toggle__buttons {
  display: flex;
  justify-content: center;
}

.toggle__button {
  border: none;
  box-shadow: 0 2px 5px rgba(148, 235, 206, 0.342);
  font-size: 1.2rem;
  padding: 10px 15px;
  margin-left: 0.5rem;
  border-radius: 0.6rem;
  background-color: var(--dark-green);
}

.inactive__button {
  background-color: var(--lighter-dark-green);
  color: #555b6e;
}

.search__area {
}

.search__bar {
  width: 80%;
  border: none;
  box-shadow: 0 2px 5px rgba(41, 37, 37, 0.74);
  font-size: 1.2rem;
  padding: 10px 15px;
  margin-top: 0.5rem;
  border-radius: 0.6rem;
  background-color: var(--dark-green);
}

.search__icon {
  background-color: var(--dark-green);
  width: 10%;
  height: 2.8rem;
  border-radius: 0.6rem;
}

/* ------- To-do cards ----------- */
.todo__cards {
  margin: 2rem auto;
  padding: 1rem;
  width: 80vw;
  border-radius: 2rem;
  background-color: var(--grey);
}
.todo__board,
.finished__board {
  padding: 1rem;
  margin-top: 0.3rem;
  line-height: 2.7rem;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.hidden {
  display: none;
}

ol {
  /* display: flex; */
}

li {
}

.delete__btn {
  margin-left: 1rem;
}

input[type="checkbox"]::before {
  content: " ";
}
/* 
input[type="checkbox"]::after {
  content: " ";
  margin-right: 10px;
} */

input[type="checkbox"] {
  margin-right: 0.5rem;
}
